
/*
需求1：修改 class="class01" 的div 标签 和 id="id01" 所有的span标签，
            字体颜色为蓝色，字体大小20个像素。边框为1像素黄色实线。
*/
.class01, #id01{
    color: blue;
    font: 20px "Times New Roman";
    border: yellow 1px inset;
}
